$color-white: #FFFFFF;
$color-grey: #0000004f;
$color-card-border: #E8ECEA;
$color-black: #000000;
$color-red: red;
$color-selected: #5350C3;
$color-background: #F5F5F5;


$color-transparent: transparent;

$color-btn-primary: #CBFD13;

$font-mulish: Mulish;