.landing-page {
    .gantt-chart-preview {
        margin-top: 50px;
        width: 869px;
        height: 391px;
        border-radius: 14px;
        padding: 10px;
        background-color: white;
        box-sizing: border-box;

        img {
            border-radius: 14px;
        }
    }
}