@use './styles/base';

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: base.$color-background;
}

.navbar-wrapper {
    display: flex;
    padding: 20px;

    nav {
        background-color: base.$color-grey;
        height: 46px;
        padding: 6px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        width: 100%;
        box-sizing: border-box;

        a {
            height: 34px;
            background-color: base.$color-white;
            padding: 5px 17px;
            display: grid;
            place-items: center;
            border-radius: 35px;
            width: fit-content;
            box-sizing: border-box;
        }
    }
}

.landing-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    position: relative;
    max-height: 800px;
    overflow: hidden;

    .landing-header {
        margin-top: 110px;
        position: relative;

        img {
            position: absolute;
            display: none;
            z-index: 0;
            left: -70px;
            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        h1 {
            position: relative;
            font-family: 'SF Pro';
            max-width: 598px;
            font-size: 66px;
            font-weight: 1000;
            line-height: 78.76px;
            text-align: center;    
            z-index: 9; 
            @media screen and (max-width: 768px) {
                font-size: 50px;
                padding: auto;
            }   
        }
    }

    .landing-description {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        p {
            max-width: 595px;
            font-family: base.$font-mulish;
            font-size: 24px;
            font-weight: 600;
            line-height: 36px;
            text-align: center;

            @media screen and (max-width: 768px) {
                width: auto;
                padding: 20px;
            }

        }
        div {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .vector-1 {
        position: absolute;
        top: 40px;
        left: 380px;
        width: 54px;
        height: 54px;
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    .vector-4 {
        position: absolute;
        bottom: 166px;
        right: 297px;
        width: 36px;
        height: 36px;
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}

.btn-secondary {
    width: 132px;
    height: 50px;
    padding: 4px 0px;
    border-radius: 8px;
    border: 1px solid base.$color-black;
    font-family: base.$font-mulish;
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    text-align: center;
    color: base.$color-black;
    background-color: base.$color-transparent;
    cursor: pointer;
}

.flex-center {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-primary {
    color: base.$color-btn-primary;
    width: 142px;
    height:50px;
    padding: 4px 0px;
    border-radius: 8px;
    border: 0;
    background: base.$color-black;
    font-family: base.$font-mulish;
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    text-align: center;
    cursor: pointer;
}

.stepper {
    font-family: base.$font-mulish;
    font-size: 20px;
    font-weight: 400;
    line-height: 26.36px;
    opacity: 0.4;
    color: base.$color-black;
}

.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 2%;

    .form-parent {
        display: flex;
        flex-direction: column;
        gap: 70px;
        max-width: 616px;

            .card-container {
                display: grid;
                grid-template-columns: repeat(4,1fr);
                grid-template-rows: repeat(3,1fr);
                row-gap: 20px;
                height: 50vh;
                overflow: auto;

                .card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 127px;
                    height: 146px;
                    border: 2px solid base.$color-card-border;
                    border-radius: 12px;
                    transition: border 0.3s linear;
                    position: relative;

                    img {
                        height: 71px;
                        width: 71px;
                        opacity: 30%;
                        transition: opacity 0.3s linear;
                    }

                    .project-selected {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        height: 18px;
                        width: 18px;
                    }
                    span {
                        text-align: center;
                        font-family: base.$font-mulish;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 18px;
                        opacity: 40%;
                        transition: opacity 0.3s linear;
                    }
                }

                .card:hover {
                    cursor: pointer;
                    border: 2px solid base.$color-selected;
                    span {
                        opacity: 100%;
                    }
                    img {
                        opacity: 100%;
                    }
                }
            }

            .button-container {
                display: flex;
                flex-direction: row;
                gap: 20px;
                align-items: center;
            }
    }

    img {
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}

.form-description-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
        font-family: base.$font-mulish;
        font-size: 35px;
        font-weight: 400;
        line-height: 49.39px;
        text-align: left;
        color: base.$color-black;
    }

    p {
        font-family: base.$font-mulish;
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        text-align: left;
        color: base.$color-black;
        opacity: 70%;
    }
}

.estimation-wrapper {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .project-domain {
        font-family: base.$font-mulish;
        font-size: 17px;
        font-weight: 400;
        line-height: 21.34px;
        opacity: 40%;
    }

    .project-header {
        display: flex;
        justify-content: space-between;
        font-family: base.$font-mulish;
        font-size: 28px;
        font-weight: 400;
        line-height: 35.14px;
        color: base.$color-black;
    }
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    label {
        font-family: base.$font-mulish;
        font-size: 20px;
        font-weight: 400;
        line-height: 31.38px;
    }

    input {
        font-family: base.$font-mulish;
        font-size: 40px;
        font-weight: 400;
        line-height: 52.71px;
        background-color: transparent;
        border: 0;
        outline: 0;
        color: base.$color-input-text;
    }

    input::placeholder {
        color: base.$color-grey;
    }

    textarea {
        font-family: base.$font-mulish;
        font-size: 42px;
        font-weight: 400;
        line-height: 52.71px;
        background-color: transparent;
        border: 0;
        outline: 0;
        resize: none;
        color: base.$color-grey;
    }

    textarea::placeholder {
        color: base.$color-grey;
      }
}

.error-text {
    color: base.$color-red;
    font-family: base.$font-mulish;
    font-size:large;
    font-weight: 400;
}

#error-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    h1 {
        font-family: base.$font-mulish;
        font-size: 40px;
    }
    p {
        font-family: base.$font-mulish;
    }
    div {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }
}
.tooltip {
    box-shadow: 7px 10px 40px 0px #0000001A;
    background-color: white;
    color: 'red';
    height: 250px;
    width: 200px;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tooltip-title {
    font-size: 16px;
    font-weight: 700;
}

.tooltip-description {
    font-size: 14px;
    font-weight: 400;
    color: #969696;

}

.tooltip-image {
    height: 150px;
    background-color: rgb(219, 219, 214);
    border-radius: 12px;
}